# wrangler.toml (wrangler v3.78.6^)
name = "sub-scraping"
main = "./.output/server/index.mjs"
compatibility_date = "2025-02-14"
toconfig = "./tsconfig.json"
route = { pattern = "subtitrari.cscara.workers.dev", custom_domain = false }

minify = true

[observability]
enabled = true
head_sampling_rate = 1

[build]
command = "pnpm build:cloudflare"
watch_dir = "src"

[vars]
PROXY_SECRET = "N7CCNDxwbIjtqkDehYpyMvcKzEDc9e3N"

